.cover {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;

    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: -1;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: var(--black-blue);
            opacity: 0.8;
        }
    }

    &__video {
        position: absolute;
        max-width: unset;
        height: 100%;

        @include breakpoint-horizontal {
            height: unset;
            width: 100%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        max-width: var(--container-width);
        text-align: center;
        padding: 0 2em 1.2em;

        @include breakpoint-sm {
            padding: 0 2em 3.2em;
        }
    }

    &__title {
        line-height: 100%;
        text-transform: uppercase;
        font-family: var(--headings-font-family);
        font-size: clamp(3.65em, 5vw, 6em);
        margin-bottom: 0.1em;
        color: var(--light-yellow);
    }

    &__content {
        line-height: 1.25;
        font-family: var(--display-font-family);
        font-weight: 400;
        font-size: clamp(1.35em, 1.75vw, 2em);
        max-width: var(--container-width);
        color: var(--white-blue);

        a {
            color: var(--light-yellow);
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    &__ctas {
        max-width: fit-content;
        margin: 0 auto;

        > .button,
        > .first-contact {
            display: inline-block;
            margin: 0 0.8em 0.8em 0;
        }
    }

    &__checkbox:checked {
        ~ .cover__popover {
            display: block;
        }

        ~ .cover__primary-cta {
            @include button-gradient-active;
        }
    }

    &__checkbox:focus {
        ~ .cover__primary-cta {
            @include button-gradient-focus;
            outline: 2px solid var(--light-yellow);
        }
    }
}
