.language-switcher {
    position: relative;

    &:focus-within {
        .sub-menu {
            display: flex;
        }
    }

    &__trigger {
        display: flex;
        align-items: center;
        padding: 1em;

        @media screen and (min-width: 768px) {
            padding: 2em;
        }

        &:hover,
        &:focus {
            ~ .sub-menu {
                display: flex;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            margin-left: 0.5em;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-bottom: 0;
            border-left: 4px solid transparent;
        }
    }

    &__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);

        &:hover {
            display: flex;
        }

        li a {
            padding: 1em;
            width: 100%;
        }
    }
}
