.menu {
    &__trigger-input {
        @media screen and (min-width: 1024px) {
            display: none;
        }

        &:checked ~ .menu__bg,
        &:checked ~ .menu__content {
            display: block;
        }
    }

    &__trigger-label {
        display: block;
        padding: 1em;
        cursor: pointer;
        position: relative;
        z-index: 3;

        @media screen and (min-width: 768px) {
            padding: 2em;
        }
        @media screen and (min-width: 1024px) {
            display: none;
        }

        svg {
            width: 3em;
        }
    }

    &__bg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.95;
        z-index: 1;

        @media screen and (min-width: 1024px) {
            display: none !important;
        }
    }

    &__content {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
            position: unset;
            left: unset;
            width: unset;
        }
    }

    &__nav {
        @media screen and (min-width: 1024px) {
            flex-grow: 1;
        }

        .menu {
            padding: 1em 2em;
            text-align: left;

            @media screen and (min-width: 1024px) {
                padding: 0;
                text-align: center;
                display: flex;
                justify-content: center;
            }

            li {
                &:focus-within {
                    .sub-menu {
                        display: flex;
                    }
                }

                a {
                    padding: 0.5em;
                    font-family: var(--headings-font-family);
                    font-size: 3em;
                    line-height: 1;

                    @media screen and (min-width: 1024px) {
                        padding: 2em;
                        font-family: var(--base-font-family);
                        font-size: 1em;
                        line-height: 1.5;
                    }

                    &:hover,
                    &:focus {
                        ~ .sub-menu {
                            display: flex;
                        }
                    }
                }
            }
        }

        .sub-menu {
            text-align: left;
            flex-direction: column;
            padding-left: 2em;

            @media screen and (min-width: 1024px) {
                padding: 0;
                display: none;
                position: absolute;
                box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
            }

            &:hover {
                @media screen and (min-width: 1024px) {
                    display: flex;
                }
            }

            li a {
                width: 100%;
                font-size: 2.25em;
                padding: 0.75em;

                @media screen and (min-width: 1024px) {
                    font-size: 1em;
                    padding: 1em;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            .menu-item-has-children > a {
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    display: inline-block;
                    margin-left: 0.5em;
                    border-top: 4px solid;
                    border-right: 4px solid transparent;
                    border-bottom: 0;
                    border-left: 4px solid transparent;
                }
            }
        }
    }
}
