.menu {
    &__trigger-input {
        @include breakpoint-md {
            display: none;
        }

        &:checked ~ .menu__bg,
        &:checked ~ .menu__content {
            display: block;
        }
    }

    &__trigger-label {
        cursor: pointer;
        position: relative;
        z-index: 3;
        padding: 1em;
        display: block;

        @include breakpoint-sm {
            padding: 2em;
        }

        @include breakpoint-md {
            display: none;
        }

        svg {
            width: 3em;
        }
    }

    &__bg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.95;
        z-index: 1;
        background-color: var(--yellow);

        @include breakpoint-md {
            display: none !important;
        }
    }

    &__content {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;

        @include breakpoint-md {
            display: flex;
            justify-content: center;
            position: unset;
            left: unset;
            width: unset;
        }
    }

    &__nav {
        @include breakpoint-md {
            flex-grow: 1;
        }

        .menu {
            padding: 1em 2em;
            text-align: left;

            @include breakpoint-md {
                padding: 0;
                text-align: center;
                display: flex;
                justify-content: center;
            }

            li {
                &:focus-within {
                    .sub-menu {
                        display: flex;
                    }
                }

                a {
                    padding: 0.5em;
                    font-family: var(--headings-font-family);
                    font-size: 3em;
                    line-height: 1;

                    @include breakpoint-md {
                        padding: 2em;
                        font-family: var(--base-font-family);
                        font-size: 1em;
                        line-height: 1.5;
                    }

                    &:hover,
                    &:focus {
                        ~ .sub-menu {
                            display: flex;
                        }
                    }
                }
            }
        }

        .sub-menu {
            text-align: left;
            flex-direction: column;
            padding-left: 2em;

            @include breakpoint-md {
                padding: 0;
                display: none;
                position: absolute;
                box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
                background-color: var(--dark-blue);

                &:hover {
                    display: flex;
                }
            }

            li a {
                width: 100%;
                font-size: 2.25em;
                padding: 0.75em;

                @include breakpoint-md {
                    font-size: 1em;
                    padding: 1em;
                }

                &:hover,
                &:focus {
                    background-color: var(--black);
                }
            }
        }
    }
}
