.navigator {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
        overflow-x: auto;
    }

    &__list {
        display: inline-flex;
        gap: 0.5em;
        margin-bottom: 1em;
    }

    &__list-item {
        flex: 1 0 auto;
    }

    &__label {
        display: inline-block;
        font-size: 1.175em;
        padding: 0.75em 1.25em;
        color: var(--light-blue);
        display: flex;
        align-items: center;

        &::before {
            content: '';
            display: inline-flex;
            width: 32px;
            height: 32px;
            border-radius: 32px;
            margin-top: 0.125em;
            margin-right: 0.75em;
            border: 2px solid var(--unsatured-blue);
        }
    }

    &__radio:checked ~ &__label {
        color: var(--light-yellow);

        &::before {
            // border: 2px solid var(--light-yellow);
        }
    }

    &__div {
        display: none;
    }

    &__div--active {
        display: block;
    }
}
