$slideshow-image-size: clamp(75px, 10vw, 150px);

@keyframes slideshow-image-appear {
    from {
        transform: scale(1.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.slideshow {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint-sm {
        flex-wrap: nowrap;
    }

    &__content {
        order: 2;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        @include breakpoint-sm {
            order: 0;
            flex: 0 0 calc(calc(3 * $slideshow-image-size) + 8em);
            padding: 2em;
        }
    }

    &__heading {
        order: 1;
        text-align: left;
        margin: 1em 0 0;
        padding: 2em 2em 0.7em;

        @include breakpoint-sm {
            order: 0;
            margin-left: 0;
            margin: 0 0 1em;
            width: auto;
            padding: 3em 3em 1.7em;
            box-shadow: var(--default-shadow);
        }
    }

    &__title {
        font-size: clamp(2.75em, 4.25vw, 3em);
        line-height: 100%;
        margin-bottom: 0.25em;
        font-family: var(--headings-font-family);
    }

    &__description {
        font-size: clamp(1.25em, 1.3vw, 1.4em);
        font-family: var(--display-font-family);
    }

    &__label {
        font-weight: bold;
        margin-bottom: 0.8em;
    }

    &__checkbox:checked ~ .slideshow__popover {
        display: block;
    }

    &__list-container {
        order: 0;

        @include breakpoint-sm {
            order: 1;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1em;
        overflow: auto;
        width: fit-content;

        @include breakpoint-sm {
            display: grid;
            align-items: flex-start;
            grid-template-columns: 1fr 1fr 1fr;
            aspect-ratio: 1;
        }

        li {
            flex: 1 0 auto;
        }
    }

    &__thumbnail {
        display: inline-block;
        transition: transform var(--default-transition);
        cursor: zoom-in;

        img {
            width: $slideshow-image-size;
        }
    }

    &__radio:checked ~ label {
        outline: 3px solid;
        transform: scale(0.9);
    }

    &__gallery {
        width: 100%;
        margin-top: 1em;

        @include breakpoint-sm {
            margin-top: 0;
        }
    }

    &__image {
        display: none;
        aspect-ratio: 1;
        height: 100%;
        width: 100%;
        animation: slideshow-image-appear var(--default-transition);

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-color: var(--black-blue);
        }
    }

    &__image--active {
        display: block;
    }
}
