$slideshow-image-size: clamp(100px, 10vw, 150px);

.slideshow {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
    }

    &__content {
        padding: 2em;
        flex: 0 0 578px;
        flex-basis: calc(calc(3 * $slideshow-image-size) + 8em);
    }

    &__heading {
        text-align: left;
        margin-bottom: 1em;
        padding: 2em;
        background-color: var(--black);
    }

    &__title {
        font-size: 3em;
        font-family: var(--headings-font-family);
    }

    &__description {
        font-size: 1.25em;
        font-family: var(--display-font-family);
        color: var(--light-gray);
    }

    &__label {
        display: inline-block;
        border: 1px solid var(--yellow);
        color: var(--light-yellow);
        background: transparent;
        padding: 1em 1.65em;
        border-radius: 4em;
        font-weight: bold;
    }

    &__popover {
        display: none;
        position: absolute;
        padding: 1em;
        left: 0;
        max-width: 100%;
        z-index: 10;

        @media screen and (min-width: 768px) {
            left: unset;
            max-width: unset;
        }
    }

    &__checkbox:checked ~ .slideshow__popover {
        display: block;
    }

    &__box {
        padding: 2em;
        background-color: var(--white-blue);
        color: var(--black);
    }

    &__list-container {
        position: absolute;
        width: calc(20% + 1em);
        left: 0;

        @include breakpoint-sm {
            position: static;
            width: auto;
            left: unset;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        padding: 1em;
        max-height: calc(150px * 3);
        overflow-y: auto;
    }

    &__label-img {
        width: $slideshow-image-size;
    }

    &__radio:checked ~ &__label img {
        border: 3px solid var(--dark-blue);
        outline: 2px solid var(--yellow);
    }

    &__gallery {
        width: 80%;
        margin-left: auto;

        @include breakpoint-sm {
            width: 100%;
            margin-left: unset;
        }
    }

    &__image {
        display: none;
        aspect-ratio: 1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__image--active {
        display: block;
    }
}
