.slideshows-navigator {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
        overflow-x: auto;
        margin-left: -1em;
        width: calc(100% + 2em);
        padding: 1em 0;
    }

    &__list {
        display: inline-flex;
        gap: 0.5em;
        margin-left: 1px;
        margin-right: 1px;
    }

    &__list-item {
        flex: 1 0 auto;
    }

    &__label {
        font-size: clamp(1em, 1.175vw, 1.175em);
        padding: 0.85em 1.5em 0.85em 1em;
        display: flex;
        align-items: center;
        border-radius: 4em;
        cursor: pointer;
        transition: background-color var(--default-transition), color var(--default-transition);

        img {
            display: inline-flex;
            width: 32px;
            height: 32px;
            border-radius: 32px;
            margin-right: 0.75em;
            opacity: 0.5;
            transition: opacity var(--default-transition), transform var(--default-transition);
        }
    }

    &__radio:focus ~ &__label {
        outline: 1px solid;
    }

    &__radio:checked ~ &__label img {
        opacity: 1;
        transform: scale(1.2);
    }

    &__slideshow {
        display: none;
    }

    &__slideshow--active {
        display: block;
    }
}
