.about-section {
    background-color: var(--dark-blue);
    color: var(--white-blue);

    &__title {
        color: var(--light-yellow);
    }

    a {
        color: var(--light-blue);
    }

    &__text {
        flex: 1 0 40%;
        font-family: var(--display-font-family);
        font-size: clamp(1.25rem, 1.35vw, 1.5rem);
        color: var(--light-gray);
        text-align: left;

        @include breakpoint-sm {
            text-align: right;
        }
    }

    &__items {
        text-align: left;
    }

    &__container {
        @include breakpoint-sm {
            display: flex;
        }
    }
}
