.services-section {
    background-color: var(--lightest-yellow);
    color: var(--black);

    &__title {
        color: var(--blue);
    }

    .slideshows-navigator__label {
        color: var(--dark-yellow);
    }

    .slideshows-navigator__radio:checked ~ .slideshows-navigator__label {
        background-color: var(--white);
        color: var(--blue);
    }

    .slideshow {
        flex-direction: row-reverse;
    }

    .slideshow__heading {
        background-color: var(--white-yellow);
    }

    .slideshow__title {
        color: var(--dark-blue);
    }

    .slideshow__description {
        color: var(--unsatured-yellow);
    }

    .slideshow__label {
        color: var(--blue);
        border-color: var(--dark-blue);
    }
}
