.abouts {
    @include breakpoint-sm {
        padding: 0 2em;
    }

    &__title {
        font-family: var(--headings-font-family);
        font-size: clamp(2.5em, 4.175vw, 2.75em);
        color: var(--light-yellow);
    }

    &__text {
        padding: 0 1em;
    }

    &__item {
        text-align: left;
        padding: 2em 0;
        border-bottom: 1px dotted var(--black-blue);

        @include breakpoint-sm {
            padding: 2em;
        }

        &:first-child {
            padding-top: 1em;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5em;

        @include breakpoint-md {
            flex-wrap: nowrap;
        }
    }

    &__img {
        flex: 1 0 150px;
        margin-top: 0.5em;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            max-width: 720px;
            max-height: 720px;
            border-radius: 720px;
            background-color: var(--black-blue);

            @include breakpoint-md {
                max-width: 150px;
                max-height: 150px;
                border-radius: 150px;
            }
        }
    }

    &__content {
        flex: 0 1 100%;
        text-align: center;

        @include breakpoint-sm {
            background-attachment: scroll;
            text-align: left;
        }
    }
}
