.about {
    @include breakpoint-sm {
        padding: 0 2em;
    }

    &__title {
        font-family: var(--headings-font-family);
        font-size: 2.5em;
        color: var(--light-yellow);
    }

    &__item {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
