@use '../styles/breakpoints';

.benefits {
    width: 100%;
    padding-bottom: 3em;

    &__title {
        font-family: var(--headings-font-family);
        font-size: clamp(2.25em, 4vw, 2.5em);
        color: var(--lightest-gray);
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 0.4em;
    }

    &__text {
        color: var(--light-gray);

        @include breakpoints.breakpoint-sm {
            padding: 0 0 0 1em;
        }
    }

    &__item {
        text-align: left;
        padding: 2em 0;
        width: 100%;
        counter-increment: benefits-counter 1;

        & + & {
            border-top: 4px dotted var(--dark-gray);
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 2em;
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 0 2em;
        flex-wrap: wrap;

        @include breakpoints.breakpoint-sm {
            flex-wrap: nowrap;
        }
    }

    &__img {
        flex: 1 0 240px;
        margin-top: 0.5em;
        width: 100%;
        height: auto;
        position: relative;
        aspect-ratio: 1;
        max-width: 720px;

        @include breakpoints.breakpoint-sm {
            max-width: 240px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-color: var(--black-gray);
            border-radius: 720px;

            @include breakpoints.breakpoint-sm {
                border-radius: 240px;
            }
        }
    }

    &__content {
        flex: 0 1 100%;
        text-align: center;

        @include breakpoints.breakpoint-sm {
            background-attachment: scroll;
            text-align: left;
        }
    }
}
