.contacts {
    &__item {
        margin-bottom: 1em;

        &:first-child {
            font-size: 1.2em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: inline-flex;
        text-decoration: none;
        border: 1px solid var(--yellow);
        border-left: 0;
        border-radius: 4em;
        font-weight: bold;
        color: var(--light-yellow);
        transition: color var(--default-transition), background-color var(--default-transition);

        &:hover,
        &:focus {
            outline: 0;
            background-color: var(--yellow);
            border-color: var(--yellow);
            color: var(--white-yellow);

            svg {
                transform: translateX(0.3em);

                path {
                    fill: var(--darkest-yellow);
                }
            }
        }
    }

    &__icon {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        border-radius: 4em;
        background-color: var(--yellow);

        svg {
            width: 1.5em;
            height: 1.5em;
            transition: transform var(--default-transition);

            path {
                fill: var(--white-blue);
                transition: fill var(--default-transition);
            }
        }
    }

    &__text {
        padding: 0.5em 1em 0.5em 0.5em;
        padding-left: 0.5em;
    }
}
