.contacts {
    &__item {
        margin-bottom: 1em;

        &:first-child {
            font-size: 1.2em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: inline-flex;
        text-decoration: none;
        border: 1px solid;
        color: var(--yellow);
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        background-color: var(--yellow);

        svg {
            width: 1.5em;
            height: 1.5em;

            path {
                fill: var(--white-blue);
            }
        }
    }

    &__text {
        padding: 0.5em;
        padding-left: 0.5em;
        font-weight: bold;
        color: var(--light-yellow);
    }
}
