.studios {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__nav-container {
        overflow-x: auto;
    }

    &__nav {
        display: inline-flex;
        gap: 0.5em;
        margin-bottom: 1em;
    }

    &__nav-item {
        flex: 1 0 auto;
    }

    &__label {
        display: inline-block;
        font-size: 1.175em;
        padding: 0.75em 1.25em;
        color: var(--light-blue);
    }

    &__radio:checked ~ &__label {
        border: 1px solid #5d78a2;
        // color: var(--lu-blue);
    }

    &__div {
        display: none;
    }

    &__div--active {
        display: block;
    }
}

// .studios {
//     &__heading {
//         padding: 4em;
//     }

//     &__form {
//         padding: 4em;
//         position: relative;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         a {
//             position: absolute;
//             top: 2em;
//             left: 2em;
//             color: var(--light-yellow);
//             text-decoration: none;
//             font-size: 2em;
//         }
//     }

//     .diptych__heading > div {
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;
//         height: 100%;

//         a {
//             color: var(--light-blue);
//             text-decoration: none;
//         }

//         h3 {
//             font-family: 'Bebas Neue';
//             font-size: 2.5em;
//         }

//         p {
//             font-size: 1.25rem;
//             font-family: 'Domine';
//             color: var(--light-gray);
//             margin-bottom: 2em;
//         }

//         .btn {
//             display: inline;
//             padding: 1em;
//             border: 1px solid var(--light-yellow);
//             color: var(--light-yellow);
//             font-weight: bold;
//         }
//     }
// }

// .studio-images {
//     a {
//         height: 100%;
//         display: flex;
//         align-items: center;
//         font-size: 2em;
//         padding: 0 0.5em;
//         color: #fff;
//         text-decoration: none;

//         &:nth-child(2) {
//             background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.5));
//         }

//         &:nth-child(3) {
//             background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
//         }
//     }
// }
