@mixin button-filled-focus {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
    outline: 0;
}

@mixin button-filled-active {
    transition: none;
    box-shadow: none;
    background-color: var(--gray);
    border-color: var(--gray);
    color: var(--black-gray);
    text-shadow: none;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1.1em 1.5em;
    font-size: 1em;
    line-height: 100%;
    position: relative;
    cursor: pointer;
    transition: color var(--default-transition), background-color var(--default-transition),
        border-color var(--default-transition);

    &--small {
        font-size: clamp(0.8em, 0.9vw, 0.9em);
    }

    &--big {
        font-size: clamp(1em, 1.125vw, 1.125em);
    }

    &--outline {
        color: var(--lightest-gray);
        border: 1px solid var(--lightest-gray);

        &:hover,
        &:focus {
            outline: 0;
            color: var(--dark-gray);
            border-color: var(--lightest-gray);
            background-color: var(--lightest-gray);
        }

        &:active {
            background-color: var(--lightest-gray);
            border-color: var(--lightest-gray);
        }
    }

    &--filled {
        background-color: var(--lightest-gray);
        border: 1px solid var(--lightest-gray);
        color: var(--darkest-gray);
        font-weight: 500;

        &:hover,
        &:focus {
            @include button-filled-focus;
        }

        &:active {
            @include button-filled-active;
        }
    }

    &--with-icon {
        gap: 0.75em;
        padding: 1.1em 1.3em 1.1em 1.175em;
        border-radius: 4em;
        border: 1px solid var(--light-gray);
        color: var(--white);

        &:hover,
        &:focus {
            outline: 0;
            color: var(--darkest-gray);
            background-color: var(--lightest-gray);
            border: 1px solid var(--lightest-gray);

            svg {
                transform: translateX(0.175em);

                g,
                path {
                    fill: var(--darkest-gray);
                }
            }
        }

        &:active {
            background-color: var(--light-gray);
            border-color: var(--light-gray);
        }

        svg {
            width: clamp(1.5em, 1.125vw, 2.5em);
            transition: transform var(--default-transition);

            g,
            path {
                transition: fill var(--default-transition);
                fill: var(--lightest-gray);
            }
        }
    }
}
