:root {
    // Colors
    --white: hsl(0, 0%, 100%);
    --white-blue: hsl(215, 100%, 99%);
    --white-yellow: hsl(40, 100%, 99%);
    --light-gray: hsl(215, 18%, 80%);
    --unsatured-blue: hsl(215, 27%, 50%);
    --light-blue: hsl(215, 90%, 80%);
    --blue: hsl(215, 70%, 23%);
    --dark-blue: hsl(215, 23%, 17%);
    --black: hsl(215, 15%, 13%);
    --unsatured-yellow: hsl(40, 10%, 34%);
    --lightest-yellow: hsl(40, 100%, 96%);
    --light-yellow: hsl(40, 90%, 80%);
    --yellow: hsl(40, 40%, 49%);
    --dark-yellow: hsl(40, 63%, 34%);
    --darkest-yellow: hsl(40, 62%, 22%);
    // Shadows
    --default-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
    // Fonts
    --base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Roboto, Helvetica, Arial, sans-serif;
    --headings-font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal,
        'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
    --display-font-family: 'Domine', Georgia, Times, 'Times New Roman', serif;
    // Sizes
    --body-min-width: 360px;
    --container-width: 1200px;
    --header-height: 125px;

    @media screen and (min-width: 1920px) {
        --container-width: 1440px;
    }
}

body {
    min-width: var(--body-min-width);
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--base-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    background-color: var(--dark-blue);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
