.page.home {
    background-color: var(--dark-blue);

    .header {
        &__logo {
            g {
                fill: var(--white);
            }
        }

        &__menu {
            g {
                fill: var(--white);
            }
            a {
                color: var(--white);
            }
        }

        &__lang-switcher {
            select {
                color: var(--white);
            }
        }
    }

    .cover {
        &__title {
            color: var(--light-yellow);
        }
        &__subtitle {
            color: var(--light-gray);
        }
    }

    .section-about {
        .section {
            &__container {
                @media screen and (min-width: 768px) {
                    display: flex;
                }
            }

            &__lead {
                margin-bottom: 4rem;
                color: var(--white);

                p {
                    margin-bottom: 2rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @media screen and (min-width: 768px) {
                    margin-bottom: 0;
                    color: var(--light-gray);
                    padding: 0 2rem;

                    p,
                    li {
                        text-align: right !important;
                    }
                }
            }
        }

        .about-sections {
            @media screen and (min-width: 768px) {
                padding: 0 2rem;
            }

            &__title {
                color: var(--light-yellow);
            }
        }
    }

    .section-clients {
        display: flow-root;

        &__container {
            clear: both;
        }

        &__text {
            font-family: var(--headings-font-family);
            font-size: 1.175rem;

            @media screen and (min-width: 1366px) {
                width: 25%;
                float: left;
                position: sticky;
                top: 2rem;
            }

            p {
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 1rem;
                }
            }
        }

        &__grid {
            @media screen and (min-width: 1366px) {
                padding-left: 25%;
            }
        }

        .section {
            &__title {
                margin-bottom: 1rem;
                color: var(--dark-yellow);
            }

            &__text {
                margin-bottom: 2rem;
                color: var(--blue);
            }
        }
    }

    .section-contact {
        --white: #fffffa;

        &__text {
            font-family: var(--headings-font-family);
            color: var(--light-gray);
            font-size: 1.25rem;
            margin-bottom: 2rem;

            @media screen and (min-width: 768px) {
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 1rem;
            }
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__form {
            order: 1;

            @media screen and (min-width: 768px) {
                order: 1;
            }
        }

        &__list {
            order: 0;
            width: 100%;
            margin-bottom: 2rem;

            @media screen and (min-width: 768px) {
                order: 0;
                width: unset;
                margin-bottom: 0;
            }
        }

        .section__title {
            text-align: center;
            color: var(--light-yellow);
            margin-bottom: 2rem;
        }

        .contacts {
            @media screen and (min-width: 768px) {
                padding: 2rem;
            }

            &__items {
                text-align: right;

                @media screen and (min-width: 768px) {
                    text-align: left;
                }
            }
        }
    }
}
