.page {
    background-color: var(--white);

    .header {
        a {
            color: var(--blue);
        }
        &__logo {
            g {
                fill: var(--blue);
            }
        }
        &__menu {
            g {
                fill: var(--blue);
            }
            a {
                color: var(--blue);
            }
        }
        &__socials {
            path {
                fill: var(--blue);
            }
        }
    }

    .menu {
        &__bg {
            background-color: var(--blue);
        }
        &__nav {
            .sub-menu {
                @media screen and (min-width: 1024px) {
                    background-color: var(--white);
                }
                li a {
                    &:hover,
                    &:focus {
                        background-color: var(--yellow);
                        color: var(--white);
                    }
                }
            }
        }
    }

    .language-switcher {
        &__trigger {
            color: var(--blue);
        }
        &__menu {
            background-color: var(--white);

            li a {
                &:hover,
                &:focus {
                    background-color: var(--yellow);
                    color: var(--white);
                }
            }
        }
    }

    .studio-rental-section {
        background-color: var(--white-yellow);
        color: var(--dark-blue);

        a {
            color: var(--dark-yellow);
        }
    }

    .footer {
        &__main {
            background-color: var(--dark-blue);
        }

        &__aside {
            background-color: var(--black);
            color: var(--light-gray);
        }

        &__menu {
            .menu > li > a {
                color: var(--light-yellow);
            }
            .sub-menu > li > a {
                color: var(--white-blue);
            }
        }

        .contacts {
            &__link {
                color: var(--yellow);
            }
            &__icon {
                background-color: var(--yellow);

                path {
                    fill: var(--white-blue);
                }
            }
            &__text {
                color: var(--light-yellow);
            }
        }
    }
}
